profiles {
  standard {
    executor = "local"
  }

  slurm {
      executor {
         queueSize = 600
      }
      process {
         executor = "slurm"
      }
  }
}

weblog {
  enabled = true
}
trace {
  enabled = true
  fields = 'task_id,name,hash,native_id,process,tag,status,exit,module,container,cpus,time,disk,memory,attempt,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt,env,workdir,script,scratch'
}
